<!--h1>Login Page</h1>

<form class="ng-scope ng-pristine ng-valid">
  <h4>User name</h4>
  <label class="item item-input">
     <input type="text" ng-model="username" class="ng-pristine ng-valid">
 </label>
    
  <h4>Password</h4>
  <label class="item item-input">
      <input type="password" ng-model="password" class="ng-pristine ng-valid">
 </label>
  <br/>
  {{loginError}}  {{loggedUser}}
  <br/><br/>
  <button class="btn btn-success" ng-click="login(username, password)">Login</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</form-->

<div class="modal-header">
    <h3 class="text-center">Login</h3>
</div>

<form >
    <label for="username" style="text-align: center; width: 100%;">Email</label>
         <input type="text"  placeholder="email" id="input-login" ng-model="email">
    <label for="password" style="text-align: center; width: 100%;">Password</label>
         <input type="password" placeholder="Password" id="input-login" ng-model="password">
    <!--p>Example paragraph with some text.</p-->
</form>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="login(email, password)">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
<div>
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" style="background-color:#dff0d8; color:#3c763d;"><centre>{{ alert.msg }}</centre></alert>
</div>