    <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <title>JS Bin</title>
</head>
<body>
  <br>
<input class='fromdate' type="date" onchange="showDays()"  />

<input class='todate' type="date"  onchange="showDays()" />

<div class='calculated'  onchange="showDays()" /><br>
<div class='minim'  onchange="showDays()" />  
<input class='todate' type="submit" onchange='showDays()' />

<h2 id="days">hi


</h2>

</body>
</html>

<script>
  function showDays(){

     var start = $('.fromdate').val();
     var end = $('.todate').val();

     var startDay = new Date(start);
     var endDay = new Date(end);
     var millisecondsPerDay = 1000 * 60 * 60 * 24;

     var millisBetween = endDay.getTime() - startDay.getTime();
     var days = millisBetween / millisecondsPerDay;

      // Round down.
       alert( Math.floor(days));


         days = document.getElementById("days");
  days.innerHTML =millisBetween / millisecondsPerDay;

}
  </script>